
/*********************************************************************************/
/* Desktop (>= 480px)                                                            */
/*********************************************************************************/

/* Logo */

#logo {
	height: 10em;
	margin-bottom: 2em;
}

#logo h1 a {
	text-align: center;
	display: block;
	padding: 1em 0em 1em 0em;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 3em;
	color: #000000;
}


/* Menu */

#menu {
	overflow: hidden;
	height: 4em;
	background: #e9e8e8;
}

#menu ul {
	text-align: center;
}

#menu li {
	display: inline-block;
	padding: 0em 1.5em;
	line-height: 4em;
}

#menu a {
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.14em;
	font-size: 1em;
	color: #000000;
}

#menu .current_page_item a {
	color: rgb(10, 79, 57);
	font-weight: bold;
}

#menu a:hover {
	color: rgb(10, 79, 57);;
}

/* Page Wrapper */

#page-wrapper {
	overflow: hidden;
}

#page {
	padding: 6em 0em 0em 0em;
}

.homepage #page {
	padding: 0em 0em 0em 0em;
}