@import url(http://fonts.googleapis.com/css?family=Abel|Satisfy);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(https://www.w3schools.com/w3css/4/w3.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
/*********************************************************************************/
/* Global                                                                        */
/*********************************************************************************/
* {
	box-sizing: border-box;
  }
html, body {
	height: 100%;
}

body {
	margin: 0em;
	padding: 0em;
	background: #FFFFFF;
	font-family: 'Source Sans Pro', arial, sans-serif;
	font-size: 12pt;
	color: #000000;
}

h1{
	margin: 0.5em;
	padding: 0em;
	font-family: "Work Sans", sans-serif;
	letter-spacing: 0.035em;
	font-size: 25px;
	font-weight: 200;
	line-height: 1.25;
	color: rgb(27, 27, 27);
	text-align: center;
}

h3.two {
	font-family: "Work Sans", sans-serif;
	letter-spacing: 0.035em;
	font-size: 25px;
	font-weight: 400;
	line-height: 1.25;
	color: rgb(27, 27, 27);
	text-align: left;
}

h3 {
	margin: 0.5em;
	padding: 0em;
	font-family: "Work Sans", sans-serif;
	letter-spacing: 0.035em;
	font-size: 20px;
	font-weight: 200;
	text-transform: uppercase;
	line-height: 1;
	color: rgb(27, 27, 27);
	text-align: left;
}

p {
	padding: 1em;
	line-height: 170%;
	line-height: 1.5;
	color: rgb(27, 27, 27);
	font-size: 20px;
	font-weight: 400;
	font-family: lighter normal 1.125rem/1.5rem JHA Times Now;
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
  }

/* Wrapper */

#wrapper {
	padding-top: 5em;
	padding-left: 8em;
	padding-right: 8em;
	overflow: hidden;
}
#wrapper p{
	margin-inline-start: 4em;
	margin-inline-end: 4em;
}

/* Button Style */

.button-style a{
	display: inline-block;
	margin-top: 1.25em;
	padding-right: 32px;
	padding-left: 32px;
	padding-bottom: 16px;
	padding-top: 16px;
	background-color: rgb(10, 79, 57);
	border-radius: 0px;
	border-style: none;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 0.143em;
	color: #FFFFFF;
	transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
}
.button-style a:hover{
	background-color: rgb(17, 113, 68);
}
  
  .row-style1 {
	display: flex;
  }
  
  .row-style1 img {
	max-height: 100%;
	max-width: 100%;
  }

  /* Create three equal columns that sits next to each other */
  .column-style1 {
	flex: 33.33%;
	padding: 5px;
  }
  .column-style2 {
	flex: 50%;
	padding: 10px;
  }

  .column-style3 {
	flex: 25%;
	padding: 10px;
  }

  .column-style4 {
	flex: 20%;
	padding: 10px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-width: thin;
	margin-top: 0px;
  }
  .footer{
	text-align: center;
	margin-block-end: 1em;
  }
  .fa {
	padding: 1em;
	font-size:2em;
	text-align: center;
	text-decoration: none;
	/* display: flex; */
  }
  
  .fa:hover {
	color: rgb(10, 79, 57);
  }
.fa-linkedin {
	background: white;
	color: black;
  }

  .fa-instagram {
	background: white;
	color: black;
  }
  
  .fa-github {
	background: white;
	color: black;
  }
  